{% extends 'HeadFoot.html' %}
{% block myblock %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AboutUs</title>
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonticon/css/all.min.css' %}">
    <script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'Jquery.js' %}"></script>
    <style>
    .bg{
        background: url("{% static 'images/AboutImages/doctor.jpg' %}");background-size: cover; background-size: 100% 100%;
    }
    .ht{
        height: 100px;
    }

    </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row bg text-center font-weight-bold text-white">
                <div class="col-md-12" style="background:rgba(0, 125, 255, 0.4); padding: 100px 0px">
                    <h1>ABOUT</h1>
                    <p> HOME &gt; ABOUT &gt;</p>
                </div>
            </div>
        
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-6 pt-5">
                    <img class="doctor" src="{% static 'images/AboutImages/doctor1.jpg' %}"style="height:450px; width: 100%" >
                </div>
                <div class="col-md-6 ">
                    <h6 style="padding-top:40px;text-align: center;"> WELCOME TO HOSPITALS</h6>
                    <h5 style=" padding-left: 50px;font-weight: bold; text-align: center;padding-top: 10px;">BEST MEDICAL & HEALTH CARE NEEDS TO OUR PATIENTS</h5>
                    <p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sapiente qui tenetur officiis quod. Consequatur, maxime amet consectetur adipisicing elit. Labore magnam explicabo doloremque, provident distinctio, commodi reiciendis accusamus eveniet dolores fugit pariatur. Mollitia sapiente qui tenetur officiis quod. Consequatur, maxime.</p><br>
                    <p class="abc" style="font-size: 20px;">Labore magnam explicabo doloremque, provident distinctio, commodi reiciendis accusamus eveniet dolores fugit pariatur. Mollitia sapiente qui tenetur officiis</p>
                    <button class="btn btn-success">Read More</button>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row py-2" >
                <div class="col-md-6" style="background-color:lightseagreen" width="100%" height="800">
                    <h5 style="text-align: center; color: white;"><i class="fas fa-thumbs-up fa-2x text-white pt-0 pb-0"></i>WHY WE ARE BEST</h5>
                        
                    <p style="text-align: center; color: white; font-style: italic;">Cras dapibus Vivamus elementum semper </br>nisi aenean vulpulate</p>
                    
                    <h5 style="text-align: center; color: white;"><i class="fas fa-id-card-alt fa-2x text-white" ></i>WELL EXPERIENCIED DOCTORS</h5>
                    <p style="text-align: center; color: white; font-style: italic;">Cras dapibus Vivamus elementum semper </br>nisi aenean vulpulate eleifened tellius Aenean.</p>
                    
                    <h5 style="text-align: center; color: white;"><i class="fas fa-wifi fa-2x text-white"></i>FREE MEDICAL COUNSELING</h5>
                    <p style="text-align: center; color: white; font-style: italic;">Cras dapibus Vivamus elementum semper </br>nisi aenean vulpulate eleifened tellius Aenean.</p>
                    
                    <h5 class="pt-4" style="text-align: center; color: white;"><i class="fa fa-credit-card fa-2x text-white"></i> 
ONLINE BILL PAYMENTS</h5>
                    <p style="text-align: center; color: white; font-style: italic;">Cras dapibus Vivamus elementum semper </br>nisi aenean vulpulate eleifened tellius Aenean.</p>
                    
                </div>

                <div class=" col-md-6">
                    <img src="{% static 'images/AboutImages/hospitaltool.jpg' %}"  width="100%" height="800" >
                </div>

            </div>
        </div>
    </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 ">
                    <h5 style="color: black; text-align: center; font-weight: bold;  padding-top: 50px;">MEET OUR SPECIALIST</h5>
                    <p style="text-align: center; color: black;" >Cras dapibus Vivamus elementum semper nisi Aenean.</br> vulpulate eleifend tellus Aenean</p>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel slide" data-ride="carousel" id="myslider">
                        <ul class="carousel-indicators">
                            <li  data-target="#myslider" data-slide-to="0"> </li>                       
                            <li  data-target="#myslider" class="active"  data-slide-to="1"></li>
                            <li  data-target="#myslider" class="active" data-slide-to="2"></li>
                            <li  data-target="#myslider" class="active" data-slide-to="3"></li>
                        </ul>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'images/AboutImages/doctor5.jpg' %}" height="500" width="100%">
                                <div class="carousel-caption" style="background: rgba(0,0,0,0.5);">
                                    <h1>Lorem Ipsum</h1>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam harum, non sequi dolor soluta possimus quis nisi ducimus excepturi accusamus! Commodi numquam fuga dolorum quo assumenda iste perspiciatis cumque sint!</p>
                                </div>
                             </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/AboutImages/doctor2.jpg '%}" height="500" width="100%">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/AboutImages/doctor3.jpg' %}" height="500" width="100%">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/AboutImages/doctor5.jpg' %}" height="500" width="100%">
                            </div>
                        </div>
                         <!-- carousel controls -->
                        <a href="#myslider" class="carousel-control-prev text-black" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a href="#myslider" class="carousel-control-next" data-slide="next">
                         <span class="carousel-control-next-icon"></span>
                     </a>
                    </div>
                </div>
            </div>
     
        </div> 
    
</body>
</html>
{% endblock %}