<!DOCTYPE html>
{% load static %}
{% block myblock %}

<html lang="en">
<head>
  <title>Bootstrap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'Bootstrap/js/bootstrap.min.js' %}">
  <script src="{% static 'Jquery.js' %}"></script>
  <link rel="stylesheet" href="{% static 'fonticon/css/all.min.css' %}">
  <style>
    .btn{
    text-align: center;
    color: rgba(39, 172, 238, 0.5);
    height: 30px;
    width: 80px;
    
}

    .btn:hover{

        background-color: rgba(12, 173, 255, 0.5);
        color: white;
    }
    .bd{
      background: url("{% static 'images/BkApptImages/DoctorAdd.jpg' %}");
      background-size: cover;
      height: 100%;
      width:100%;
    }
    .cg{
      background:rgba(220,210,234,0.7);
      height: 50%;
      width: 50%;
    }
    
</style>
</head>
<body>
<div class="container-fluid bd ">
  <div class="row text-center">
    <div class="col-md-12 mx-auto">
    <h1>Add Doctor</h1>
    <hr>
    </div>
  </div>
  <div class="container-fluid cg">
    <div class="row">
  <div class="col-md-12">
    <label form-control><b>Name</b></label></br>
    <input type="text" placeholder="Enter Name" class="form-control">
  </div>
</div>
  <div class="row">
 <div class="col-md-12">
    <label form-control><b>Last name</b></label></br>
    <input type="text" placeholder="Enter Last Name" class="form-control">
  </div>
</div>
<div class="row">
    <div class="col-md-12">
    <label form-control><b>Telephone</b></label></br>
    <input type="text" placeholder="Enter Telephone" class="form-control">
  </div>
</div>
  <div class="row">
 <div class="col-md-12">
    <label form-control><b>Email</b></label></br>
    <input type="text" placeholder="Enter Email" class="form-control">
  </div>
</div>
<div class="row">
    <div class="col-md-12">
    <label form-control><b>Profile picture</b></label></br>
    <textarea style="border:dashed 2px grey; Font-size:20px; text-align:center; line-height:20px" class="form-control">
    Drop files here to upload
  </textarea>
  </div>
</div>
 <div class="row">
    <div class="col-md-12">
    <label form-control><b>City</b></label></br>
    <input type="text" placeholder="Enter City" class="form-control">
  </div>
 </div>
 <div class="row">
 <div class="col-md-12">
    <label form-control><b>Address</b></label></br>
    <input type="text" placeholder="Enter Address" class="form-control">
  </div>
</div>
<div class="row">
    <div class="col-md-12">
    <label form-control><b>State</b></label></br>
    <input type="text" placeholder="Enter State" class="form-control">
  </div>
</div>
<div class="row">
 <div class="col-md-12">
    <label form-control><b>Zip code</b></label></br>
    <input type="text" placeholder="Enter Zip code" class="form-control"><br>
  </div>
</div>

  <div  class="col-md-12 text-center ">
    <button class="btn form-control bg-success"style= "border:2px solid red;width:100%;height:100%" >Save</button>
</div>
</div>

</div>
{% endblock %}
</body>
</html>
