{% extends "HeadFoot.html" %}
{% load static %}
{% block myblock %}
<style>
    .hover:hover{
    box-shadow:0px 0px 10px black;padding:10px
}
</style>
<div class="container-fluid" style="background: url('/static/images/drcover.jpg');background-size: 100% 100%;">
    <div class="row py-5 ">
        <div class="col-md-12  py-5 my-5 text-light text-center font-weight-bold text-uppercase">
            {% if abc %}
            <h1 style="color:red">Total ({{treatments|length}}) treatments matched</h1>
            {% else %}
            <h1 style="color:red;font-size: 50px;">All Treatments({{treatments|length}})</h1>
            {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:rgb(236, 247, 247);">
<div class="row py-4">
    {% for i in treatments %}
    <div class="col-md-4 p-4">
        <div style="border:3px solid lightskyblue" class="p-1 hover ">
            <img src="/media/{{i.treatment_image}}" alt="" height="200" width="100%">
            <h3 style="color:darkblue">
                <a href="{% url 'single_treatment' %}?tid={{i.id}}"  style="color: maroon;">{{i.treatment_name}}</a></h3>
            <h4>
                <span><del>&#8377; {{i.treatment_originalprice}}</del></span>
                <span>&#8377; {{i.treatment_actualprice}}</span>
                
            </h4>
            <h5 style="color: maroon;"><strong>[{{i.treatment_category.Dep_name}}]</strong></h5>
            <form action="{% url 'cart' %}"  method="post">
                {% csrf_token %}
                <input type="hidden" value="{{i.id}}" name="tid">
                <input type="hidden" value="1" name="qty">
                <button type="submit" class="btn btn-success btn-block">
                    <i class="fa fa-shopping-cart"></i>
                    ADD TO CART
                </button>

            </form>
        </div>
    </div>
    {% endfor %}
</div>    
</div>
{% endblock %}