{% extends 'HeadFoot.html' %}
{% block myblock %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <style>
        .bg
        {
        background: url("{% static 'images/BkApptImages/BkAppt.jpg' %}");
        background-size:cover;
        }
        .ch{
           background:rgba(115, 106, 196, 0.2);
        }
        
    </style>
    </head>

    <body>
   {% if user.is_authenticated %}
      <div class="container-fluid ">
         <div class="row bg text-center font-weight-bold text-white">
         <div class="col-md-12" style="background:rgba(0,125,255,0.4);padding:80px 0px;background-size: cover;">
                   <h1 class="font-weight-bold" style="font-size: 60px;">Appointment</h1>
                   <p>
                   <a href="{% url 'HomePage' %}" class="text-white" style="font-size: 30px;">Home &gt;</a> 
                   <a href="{% url 'Departments' %}" class="text-white" style="font-size: 30px;">Departments &gt;</a>
                 </p>
               </div>
            </div>
         </div>
       

      <div class="container-fluid">
         <div class="row py-3">
               <div class="col-md-6 ch">
               <h1 style="text-align:center;color:darkblue" class="pt-4">Book an Appointment</h1><br/>
               <form action="" method="POST" class="py-4">
                  {% csrf_token %}
                <div class="col-md-12">  
                  <div class="row mt-4" >     
                  <div class="input-group">
                     <input type="text" placeholder="Patient Name..." class="form-control" name="patient_name" required>
                  </div>
                  </div>

                  <div class="row mt-4">
                  <div class="input-group">
                     <input type="text"  class="form-control" placeholder="Phone number" name="patient_contactnumber" pattern="[0-9]{10}" title="Number should contain 10 digits only!" required>
                  </div>
                  </div>

                   <div class="row mt-4">
                  <div class="input-group">
                     <input type="email" placeholder="Enter Email" class="form-control" name="patient_emailid" required>

                  </div>
                  </div>
                  
                
                <div class="row mt-4">
                  <div class="input-group">
                     <input type="text" placeholder="Disease type..." class="form-control" name="disease" required>
                  </div>
                </div> 

                <div class="row mt-4">
                  <div class="input-group">
                     <input type="text" placeholder="Appointment Date..." class="form-control" name="appointment_date" required>
                  </div>
               </div>
               
               <div class="row mt-4">
                  <div class="input-group">
                     <textarea placeholder="Messages..." cols="100" rows="6" name="message" class="form-control"></textarea>
                  </div>
               </div>
 
               <div class="row mt-4">
                  <div class="input-group">
                     <input type="submit" class="btn btn-success form-control" value="Send Message" >
                  </div>
               </div>  
            </div> 
       </form>

            </div>
         
            <div class="col-md-6 vg bg-light">
               <h1 style="text-align:center;font-size:70px;color:darkmagenta" class="pt-4">Servicing Hours</h1><br/>
               <p style="font-size: 25px;background:linear-gradient(lightblue,greenyellow)"> For  the  treatment  of  patients  affected  from  any  kind  of  disease can book appointment for their check from the available Doctors at specific date or a day. Any person suffering from any disease who want treatment can get appointment booked by entering Patients Name, Contact Number of the Patient, Email Address, Date Of Birth, Disease Type, Appointment Date and any kind of message...So the Servicing Hours for treatment of the patients are... </p><br/><br/>
               
               <div class="row">
                  <div class="col-md-8 mx-auto" style="color:black">
                     <h5 style="color:black">Monday-Thursday
                        <span class="mx-5" style="color:black">6a.m. - 12p.m.</span>
                        </h5>
                      
                  </div>
               </div>

               <div class="row">
                  <div class="col-md-8 mx-auto" style="color:firebrick">
                     <h5 style="color:black" class="mx-2">Friday - Saturday
                        <span class="mx-5">8a.m. - 12p.m.</span>
                     </h5>
                  </div>
               </div>

               <div class="row">
                  <div class="col-md-8 mx-auto" style="color:firebrick">
                     <h5 style="color:black" >Sunday( working )
                     <span class="mx-5">9a.m. - 10p.m.</span>
                  </h5>
                  </div>
               </div>
            </div>
         </div>
         
      </div>
   {% else %}
   <div><h1 class="p-5 m-5" style="background-color: coral;color:darkgreen;font-size: 50px;">SORRY!!!YOU ARE NOT A REGISTERED PERSON</h1></div>
   {% endif %}
   </body>
</html>
{% if status %}
    <script>
        alert("{{status}}");
        window.location="/all_treatments"
    </script>
{% endif %}
{% endblock %}