{% extends "dashboard_base.html" %}
{% block dashboard %}
<style>
    label{
        font-size: 25px;
        color:chartreuse
    }
    input{
        width:87%;
    }
</style>
<div class="container">
    <div class="row" style="background-color:cornsilk;">
        <div class="col-md-9 mx-auto my-5 p-4" style="background:linear-gradient(darkgrey,darkolivegreen,lavender)">
            <form method="post">
                {% csrf_token %}
                <h1 style="text-align: center;color:purple;background:repeating-linear-gradient(pink,yellow)">Get Your Password</h1>
                <hr>
                {% if msz %}
                    <div class="alert {{col}} text-center">{{msz}}</div>
                {% endif %}
                <div class="form-group">
                    <label class="font-weight-bold">Current Password:</label>
                    <input type="password" class="form-control" name="cpwd" required>
                </div><br/><br/>

                <div class="form-group">
                    <label  class="font-weight-bold">New Password:</label>
                    <input type="password" class="form-control" name="npwd" id="pas" required onkeyup="check_pass()">
                </div><br/><br/>

                <div class="form-group">
                    <label class="font-weight-bold">Confirm New Password</label>
                    <input type="password" class="form-control" id="cpas" required onkeyup="check_pass()">
                </div><br/><br/><br/>

                <div class="form-group">
                    <input type="submit" class="btn btn-warning" value="Change Password" id="sbbtn">
                </div><br/><br/>
            </form>
        </div>
    </div>
</div>
        </div>
    </div>
</div>
<script>
    function check_pass(){
        let p = $("#pas").val();
        let cp = $("#cpas").val();
        if(p==cp){
            // $("#pas").css("border","1px solid green");
            // $("#cpas").css("border","1px solid green");
            $("#pas").removeClass("alert alert-danger").addClass("alert alert-success");
            $("#cpas").removeClass("alert alert-danger").addClass("alert alert-success");
            $("#sbbtn").removeAttr("disabled");
        }else{
            // $("#pas").css("border","1px solid red");
            // $("#cpas").css("border","1px solid red");
            $("#pas").removeClass("alert alert-success").addClass("alert alert-danger");
            $("#cpas").removeClass("alert alert-success").addClass("alert alert-danger");
            $("#sbbtn").attr("disabled","disabled");
        }
    }
</script>
{% endblock %}