{% extends "HeadFoot.html" %}
{% load static %}

{% block myblock %}
<style>
    .container-fluid{
        background:url("{% static 'images/Doc_Wall.jpg' %}") ;
    }
    h1{
        font-family: cursive;
        font-size:small;
        color:red;
        text-align: center;
    }
    .myimg{
        height: 300px;   
    }
    /* .box:hover .show{
        background:rgba(0, 0, 0, 0.5) ;
        height: 100%;
        width: 100%;
        visibility: visible;
        } */
    .show{
        visibility: hidden;
        font-style: italic;
        font-size: 18px;
    }    
    .box:hover{
        height:100%;width:100%;background:rgba(0,0,0,0.5);color:white;
    }
</style>
<div class="container-fluid" style="background: darkkhaki;" >
     <!-- <h1>Hello There</h1> -->
     <div class="row">
         <div class="col-md-12">
         <h1 style="font-size: 45px;" class="font-weight-bold">Our Departments {{department|length}}</h1>
         </div>
{% for d in department %}
     <div class="col-md-4 p-4 text-center">
            
            <div style="box-shadow: 0px 0px 10px black ;background:url('/media/{{d.cover_pic}}');background-size:100% 100%;" class="myimg" >
                <!-- <img src="/media/{{d.cover_pic}}" height="200" > -->
                <a href="{% url 'all_treatments' %}?dep={{d.id}}">
                    <div class="box hover" style="height: 300px;box-shadow: 0px 0px 10px black ;">
                        <h1 style="font-size: 40px;">{{d.Dep_name}}</h1>
                        <p class="p-4">{{d.description}}</p>
                    </div>
                </a>
            </div>
        </div>
 {% endfor %}
</div>
</div>
{% endblock %}
