{% extends "HeadFoot.html" %}
<!DOCTYPE html>

{% block myblock %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors</title>
    
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    
    <script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fonticon/css/all.min.css' %}">
 <style>
     .cont{
         background:url("{% static 'images/DoctorImages/dc13.jpg' %}" );
         background-size:100% 100%;
         background-attachment:scroll;
         height: auto;
         width: auto;
         

     }
 </style>   
</head>


<body>
    <div class="container-fluid cont">
        <div class="row col-md-12 p-5 mx-auto ">
            
                <div class="col-md-12 text-center">
                <h2 style="color:white;font-size: 44px;">SPECIALISTS</h2>
                
            </div>
            <div class="col-md-12 text-center">
                <a  href="{% url 'HomePage' %}" style="color:orange;font-size: 26px;" class="font-weight-bold">HOME > </a>
                <a href="" style="color:orange;font-size: 26px;" class="font-weight-bold">SPECIALISTS ></a> 
            </div>
                
            
            </div>
        </div>

<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12 text-center">
        <h2 style="color:darkblue;font-size: 43px;">MEET OUR SPECIALISTS</h2>
    </div>
    </div>
</div>    
 
<div class="container-fluid">
    <div class="row col-md-12">

        <div class="col-md-3 py-2">
            <img src="{% static 'images/DoctorImages/dc1.jpg' %}" style="height:300px;width:300px;">
            <h5 style="text-align: center;color:blueviolet;background-color: khaki;"> DR.HOPE GUANZON</h5>
            <P style="text-align: center;color:crimson;font-size: 30px;" class="font-weight-bold">ORTHOPEDIC</P>
            
        </div>

        <div class="col-md-3 py-2">
            <img src="{% static 'images/DoctorImages/dc2.jpg' %}"style="height:300px;width:300px;">
            <h5 style="text-align: center;color: blueviolet;background-color: khaki;"> DR.ADRIAN SARITA</h5>
            <p style="text-align: center;color:crimson;font-size: 30px;" class="font-weight-bold">GYNAECOLOGIST</p>
            
        </div>

        <div class="col-md-3 py-2">
            <img src="{% static 'images/DoctorImages/dc3.jpg' %}"style="height:300px;width:300px;">
            <h5 style="text-align: center;color: blueviolet;background-color: khaki;"> DR.GERARD UY</h5>
            <p style="text-align: center;color:crimson;font-size: 30px;" class="font-weight-bold">PAEDIATRICIAN</p>
            
        </div>
       
        <div class="col-md-3 py-2">
            <img src="{% static 'images/DoctorImages/dc4.jpg' %}"style="height:300px;width:300px;">
            <h5 style="text-align: center;color: blueviolet;background-color: khaki;"> DR.EARL GAMPONG</h5>
            <P style="text-align: center;color:crimson;font-size: 30px;" class="font-weight-bold">NEUROLOGIST</P>
            
        </div>
    </div>

        <div class="row col-md-12">
            <div class="col-md-3 py-2">
                <img src="{% static 'images/DoctorImages/dc9.jpg' %}"style="height:300px;width:300px;">
                <h5 style="text-align: center;color:blueviolet;background-color: khaki;"> DR.MANISH MALHOTRA</h5>
                <P style="text-align: center;color:crimson;font-size: 30px;" class="font-weight-bold">GENERAL HEALTH CARE</P>
                
            </div>

            <div class="col-md-3 py-2 ">
                <img src="{% static 'images/DoctorImages/dc5.jpg' %}"style="height:300px;width:300px;">
                <h5 style="text-align: center;color: blueviolet;background-color: khaki;"> DR.APRIL GONZAGA</h5>
                <P style="text-align: center;color:crimson;font-size: 30px;" class="font-weight-bold">CARDIOLOGIST</P>
                
            </div>

            <div class="col-md-3 py-2">
                <img src="{% static 'images/DoctorImages/dc7.jpg' %}"style="height:300px;width:300px;">
                <h5 style="text-align: center;color: blueviolet;background-color: khaki;">DR.ANGELINA JOHN</h5>
                <P style="text-align: center;color:crimson;font-size: 30px;" class="font-weight-bold">PHYSIOTHERAPIST</P>
                
            </div> 

            <div class="col-md-3 py-2">
                <img src="{% static 'images/DoctorImages/dc8.jpg' %}"style="height:300px;width:300px;">
                <h5 style="text-align: center;color: blueviolet;background-color: khaki;"> DR.SAMUEL</h5>
                <P style="text-align: center;color:crimson;font-size: 30px;" class="font-weight-bold">MICROBIOLOOGIST</P>
               
            </div>
            </div>
            </div>
</body>
</html>
{% endblock %}
