<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors</title>
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Bootstrap/js/bootstrap.min.js' %}">
    <script src="{% static 'Jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fonticon/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/Dr3.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row a">
            <div class="col-md-12 DR" >
            <div class="b p-5">
        <h2>DOCTORS PROFILE</h2>
        <a  href=" ">HOME > </a>
        <a  href=" ">DOCTOR > </a>
        <a href="" style="color: dimgray;">DOCTOR PROFILE ></a>      
            </div>
            </div>
            </div>

            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6  ">
                        <img src="{% static 'images/DoctorImages/dc7.jpg' %}" class="z">
                    </div> 
                    <div class="col-md-6">
                            <H4 style="margin-top: 60PX;">DR.SNEHA DOE</H4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, quibusdam quam optio dicta magnam, rem soluta commodi consequuntur autem esse perferendis repellendus reprehenderit ad a. Enim minus a iure vel.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur vel quis saepe esse inventore id molestias harum officia corporis pariatur sapiente quo tenetur distinctio beatae, placeat nemo magnam nihil. Distinctio?</p>
                        </div></div>
                        
                        <div class="row">
                        <div class="col-md-1  my-2  ml-5">
                       <h5>Name</h5>       
                       <h5>Address</h5>    
                       <h5>Email</h5>                              
                       <h5>Phone</h5>                                
                       <h5>Website</h5s> 
                        </div>   
                        <div class="col-md-5 pl-5 ">
                            <p class="s">Dr.Sneha Doe</p1>    
                            <p>JI Pahlawan Sidoarjo-Indonasia</p>    
                            <p>email@domain.com</p>    
                            <p>(+62)1234 567 8910</p>    
                            <p>www.domain.com</p>    
                         
                            <button class="btn "style="text-align:center; border:2px solid skyblue;" >BOOK APPOINMENT</button>                  
                    </div>
                    
                    <div class="col-md-5">
                        <h4><i class="fas fa-graduation-cap bg-info text-white " style="border-radius:50%;padding: 5px;"></i>SPECIALIST</h4></br>
                              <P>Gynaecological</P>
                               <P>Surgeon</P>
                               <P>Rehabilitiation</P>

                        <h4><i class="fas fa-graduation-cap bg-info text-white" style="border-radius:50%;padding: 5px;" ></i>EDUCATION</h4></br>
                        <P>Doctor of Gynaecological,University of Lorem,Uk  </P>
                        <P>Doctor Rehabilitiation,University of Lorem,Us  </P>
                        
                        

                        <h4><i class="fas fa-trophy bg-info text-white" style="border-radius:50%;padding:5px;"></i>EXPERIENCE</h4></br>
                        <P>25 year of Experience in Gynaecological</P>
                        <P>10 year of Experience in Surgeon</P><br>
                        

                
                        <h4><i class="fas fa-award bg-info text-white" style="border-radius:50%;padding: 5px;"></i>AWARDS & RECOGNITION</h4><br>
                        <P>Top Doctor of Gynaecological(2010)</P>
                        <p>Bost AWARDS of Surgeon</p>
                    </div>
                   
                </div>
            </div>
        </body></html>