{% extends "HeadFoot.html" %}
{% block myblock %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New home page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/homecss.css' %}">
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'Jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'Bootstrap/js/bootstrap.min.js' %}">
    <!-- <link rel="stylesheet" href="{% static 'fonticon/css/all.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row py-5" style=" background:url('/static/images/drcover.jpg');background-size: 100% 100%;">
            <div class="col-md-8 mx-auto my-5" >
                <form action="{% url 'all_treatments' %}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <input type="text" name="qry" class="form-control" placeholder="Search by Treatment Name...">
                        </div>
                        <!-- <div class="col-md-5">
                            <input type="text" name="price" class="form-control" placeholder="Search by Price less than...">
                        </div> -->
                        <div class="col-md-2">
                            <button type="submit"  class='btn btn-success'>Search</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>

 <div class="container-fluid headerset text-center"> 
         
        <h2 style="font-family:Georgia, 'Times New Roman', Times, serif;font-size: 50px;color:slateblue;"> Welcome To Life Care</h2>
        <h1 style="font-size: 46px;color:seagreen;font-family:inherit;">WE CARE YOUR HEALTH</h1>
        <button class="btn btn-warning text-black btn-lg mb-2" style="font-size:30px;width:170px">Services</button>
    </div>
<div class="container-fluid ourservices text-center" style="background: linear-gradient(blue,lightblue,slateblue);">
    <h1 style="font-size: 50px;color:white;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">MEDICAL SERVICES</h1>
    <div class="row col-md-12">
        <div class="col-md-4">
            <div class="imgsetting d-block m-auto bg-warning">
                <i class="fa fa-user-md  text-white" style="font-size: 40px;padding-top: 20px;"></i>
            </div>

                <h2 style="color:crimson;font-size: 30px;" class="font-weight-bold">BLOOD</h2>
                <p style="font-size: 20px;color:gold">We provide best medical services.Blood is a body bluid in humans that delivers necessary substanes in body.So we have all kind of blood available needed by patients...</p>
            </div>

            <div class="col-md-4">
                <div class="imgsetting d-block m-auto bg-warning">
                    <i class="fa fa-medkit text-white" style="font-size: 40px;padding-top: 20px;"></i>
                </div>
                <h2 style="color:crimson;font-size: 30px;" class="font-weight-bold">LAB TEST</h2>
                <p style="font-size: 20px;color:gold">Lab test includes many kind of tests like blood,urine,body tissues and many more.So,here we provide all types of lab tests at affordable prices...</p>
            </div>

            <div class="col-md-4">
                <div class="imgsetting d-block m-auto bg-warning"><i class="fas fa-ambulance  text-white" style="font-size: 40px;padding-top: 20px;"></i>
                </div>
                <h2 style="color:crimson;font-size: 30px;" class="font-weight-bold">EMERGENCY CARE</h2>
                <p style="font-size: 20px;color:gold">Emergency care can be required anytime by the patients like any accident or any kind of illness.We have 24hours emergency care doctors who handle emergency cases...</p>
            </div>
        </div>
    </div>
    <!--///////////////////////////doctor pics/////////////////////*/-->
    
        <div class="container-fluid text-center bg-light" style="background: linear-gradient(lightblue,lightgray);">
            <h1 style="font-size: 50px;color:teal;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" class="font-weight-bold">DOCTORS</h1>
            <p style="font-size: 58px;color:dodgerblue;font-family: 'Courier New', Courier, monospace;" class="font-weight-bold">Our Qualified Doctors</p>
            <div class="row col-md-12">
                <div class="col-md-3 ">
                    <div class="card">
                        <img src="{% static 'images/HomeImages/doctor.jpg' %} " height="50%"  class="card-img img-fluid pd-2">
                        <div class="card-body">
                            <h2 class="card-title" style="color: indigo;">Dr.ALISHA</h2>
        
                        </div>
                    </div>
                </div>
                <div class="col-md-3">                    
                    <div class="card">
                        <img src="{% static 'images/doctorprofileimage3.jpg' %}" class="card-img img-fluid">
                        <div class="card-body">
                            <h2 class="card-title" style="color: indigo;">Dr.GEORGE</h2>
                   
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="card">
                        <img src="{% static 'images/DoctorImages/dc5.jpg' %}" class="card-img img-fluid">
                        <div class="card-body">
                            <h2 class="card-title" style="color: indigo;">Dr.Neetika</h2>
                   
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="card">
                        <img src="{% static 'images/DoctorImages/d11.jpg' %}" class="card-img img-fluid">
                        <div class="card-body">
                            <h2 class="card-title" style="color: indigo;">Dr.Neetika</h2>
                            
                        </div>
                    </div>
                </div>
              
                </div>
            </div>

        <div class="container-fluid ourteam text-center" style="background: repeating-linear-gradient(green,rgb(168, 197, 168));">
            <h1 style="background-color:darkseagreen;">OUR DEPARTMENTS</h1>
            <p style="font-size: 30px;color:whitesmoke" class="font-weight-bold">We have different departments here to treat different kind of patients</p>
            <div class="row col-md-12">
                <div class="col-md-4 ">
                    <figure class="figure">
                        <img src="{% static 'images/DepImages/Cardio.jpg' %}" class="figure-img img-fluid p-5 " 
                        height="500px" width="400px" style="border-radius: 60px;">
                        <h4 style="font-size: 30px;color:yellow">CARDIOLOGY</h4>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                        <img src="{% static 'images/DepImages/OP.jpg' %}" class="figure-img img-fluid p-5" 
                        height="500px" width="400px" style="border-radius: 60px;">
                        <h4 style="font-size: 30px;color:yellow">ORTHOPAEDICS</h4>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                        <img src="{% static 'images/DepImages/AN.jpg' %}" class="figure-img img-fluid p-5" 
                        height="500px" width="400px" style="border-radius: 60px;">
                        <h4 style="font-size: 30px;color:yellow">ANAESTHETICS</h4>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                        <img src="{% static 'images/DepImages/EM1.jpg' %}" class="figure-img img-fluid p-5" 
                        height="500px" width="400px" style="border-radius: 60px;">
                        <h4 style="font-size: 30px;color:yellow">EMERGENCY CASES</h4>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                        <img src="{% static 'images/DepImages/GY.jpg' %}" class="figure-img img-fluid p-5" 
                        height="500px" width="400px" style="border-radius: 60px;">
                        <h4 style="font-size: 30px;color:yellow">GYNECOLOGY</h4>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                        <img src="{% static 'images/DepImages/MB.jpg' %}" class="figure-img img-fluid p-5" 
                        height="500px" width="400px" style="border-radius: 60px;">
                        <h4 style="font-size: 30px;color:yellow">MICROBIOLOGY</h4>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                        <img src="{% static 'images/DepImages/NR.jpg' %}" class="figure-img img-fluid p-5" 
                        height="500px" width="400px" style="border-radius: 60px;">
                        <h4 style="font-size: 30px;color:yellow">NEUROLOGY</h4>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                        <img src="{% static 'images/DepImages/PR3.jpg' %}" class="figure-img img-fluid p-5" 
                        height="500px" width="400px" style="border-radius: 60px;">
                        <h4 style="font-size: 30px;color:yellow">PHYSIOTHERAPY</h4>
                    </figure>
                </div>
            </div>
        </div>
     
{% endblock %}