{% extends "dashboard_base.html" %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12 mt-2">
            <h2 class="alert alert-primary text-center">Dashboard &gt; My Treatments ({{treatments|length}})</h2>
            <table class="table table-bordered">
                <thead class="thead-dark " style="text-align: center;">
                    <th>Treatment ID</th>
                    <th>Treatment Image</th>
                    <th>Treatment Name</th>
                    <th>Doctor Name</th>
                    <th>Treatment Actions</th>
                </thead>
                <tbody class="tbody-hover" style="text-align: center;">
                    {% for t in treatments %}
                    <tr>
                        <td>{{t.id}}</td>
                        <td><img src="/media/{{t.treatment_image}}" style="height:60px;width: 90px;"></td>
                        <td>{{t.treatment_name}}</td>
                        <td>{{t.doctor.first_name}} {{t.doctor.last_name}}</td>
                        <td>
                                <button class="btn btn-primary bg-success" data-toggle="modal" data-target="#m{{t.id}}"><i class='fa fa-eye'></i>View</button>
                                <a href="{% url 'update_treatment' %}?tid={{t.id}}" class="btn btn-primary bg-primary"><i class='fa fa-edit'></i>Edit</a>
                                <a href="{% url 'delete_treatment' %}?tid={{t.id}}" class="btn btn-primary bg-danger"><i class='fa fa-trash'></i>Delete</a>
                        </td>
                    </tr>
                    <div class="modal" id="m{{t.id}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 style="text-align: center;color:crimson">Treatment Details</h1>
                                    <button class="close" data-dismiss="modal">&times;</button>
                                
                                </div>
                                <div class="modal-body " >
                                    <img src="/media/{{t.treatment_image}}" alt="" height="200" width="100%">
                                    <h2>
                                        <a href="{% url 'single_treatment' %}?tid={{t.id}}">{{t.treatment_name}}</a>
                                    </h2>
                                    <p>({{t.treatment_category.Dep_name}}</p>
                                        <p style="font-size:40px">
                                            <strong>
                                                <del>&#8377; {{t.treatment_originalprice}}</del>
                                                <strong>&#8377; {{t.treatment_actualprice}}</strong>
                                            </strong>
                                        </p>
                                        
                                  <p>{{t.details}}</p>
                                </div>
                                <div class="modal-footer">
                                     <a href="{% url 'single_treatment' %}?tid={{t.id}}" class="btn btn-success">View Details</a>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
