{% extends "dashboard_base.html" %}
{% block dashboard %}
<style>
    h1{
        text-align: center;color:blue
    }
    .th{
        font-size: 30px;
        color:green;

    }
    .td{
        font-size: 18px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto py-5">
            <div class="card">
                <div class="card-header bg-dark">
                    <h1 style="text-align: center;color:blue">My Details</h1>
                </div>
                <div class="card-body bg-light">
                    <table class="table table-bordered">
                        <tbody style="background-color: bisque;">
                            <tr>
                                  <th class="th">Patient ID</th>
                                  <td class="td font-weight-bold">{{user.id}}</td>
                            </tr>
                            <tr>
                                <th class="th">Patient Name</th>
                                <td  class="td font-weight-bold">{{user.username}}</td>
                            </tr>
                            <tr>
                                <th class="th">Full Name</th>
                                <td class="td font-weight-bold">{{user.first_name}} {{user.last_name}}</td>
                            </tr>
                            <tr>
                                <th class="th">Last Login</th>
                                <td  class="td font-weight-bold">{{user.last_login}}</td>
                            </tr>
                            <tr>
                                <th class="th">Join Date</th>
                                <td class="td font-weight-bold">{{user.date_joined}}</td>
                             </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}