{% extends "HeadFoot.html" %}
{% block myblock %}
<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
  <script src="{% static 'Jquery.js' %}"></script>
  <link rel="stylesheet" href="{% static 'Bootstrap/js/bootstrap.min.js' %}">
  <script src="{% static 'fonticon/css/all.min.css' %}">
  </script>
  <style>
.a{
  border-radius:100%;
  padding-left: 100px;
}
  </style>
</head>

<body>
<div class="container-fluid" style="background-color:darksalmon;">
  <div class="row ">
   <h2 class="mx-auto p-3" style="font-size: 40px;">Reviews list</h2>
  </div>

<div class="row">
  <div class="col-md-3 ">
     <img src="{% static 'images/ReviewImages/r2.jpg' %}" height="150px" width="200px" class="a pl-5 ">
  </div>

<div class="col-md-9 bg-light">
  <hr></hr>
  <h3 style="width:70%;float:left; height:50px">Mr.Abdu</h3>
    <h6 style="width:30%;float:right; height:50px">
       <span class="fa fa-star " style="color: orange"></span>
       <span class="fa fa-star " style="color: orange"></span>
       <span class="fa fa-star " style="color: orange"></span>
       <span class="fa fa-star"  style="color: orange"></span>
       <span class="fa fa-star"></span>
    </h6>
       <p>to the same to you and your family and friends is not available for remote playback p please consider the environment before printing this email and any attachments is intended only for the same to you and</p>
          <button class="rounded-pill btn btn-success"><i class="fa fa-reply ">Thanks</i></button>
          <div>
            <hr>
          </hr>
          </div>
</div>
</div>

<div class="row">
  <div class="col-md-3 ">
    <img src="{% static 'images/ReviewImages/r1.jpg' %}" height="150px" width="200px" class="a pl-5">
  </div>
    <div class="col-md-9 bg-light">
      <h3 style="width:70%;float:left; height:50px">Miss.Jot</h3>
      <h6 style="width:30%;float:right; height:50px">
        <span class="fa fa-star " style="color: orange"></span>
        <span class="fa fa-star " style="color: orange"></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
        <span class="fa fa-star "></span>
      </h6>
         <p>This hospital is very good and faithfulness.This is rare one in the city.</p>
         <button class="rounded-pill btn btn-success"><i class="fa fa-reply ">Thanks</i></button>
        <div>
          <hr>
        </hr>
        </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-3 ">
       <img src="{% static 'images/ReviewImages/r5.jpg' %}" height="150px" width="200px" class="a pl-5">
  </div>
     <div class="col-md-9 bg-light">
       <h3 style="width:70%;float:left; height:50px">Mr.Kapil</h3>
       <h6 style="width:30%;float:right; height:50px">
          <span class="fa fa-star " style="color: orange"></span>
          <span class="fa fa-star " style="color: orange"></span>
          <span class="fa fa-star " style="color: orange"></span>
          <span class="fa fa-star "></span>
          <span class="fa fa-star "></span>
        </h6>
       <p>It was very positive experience since admission till discharge.Great job everyone.</p>
       <button class="rounded-pill btn btn-success"><i class="fa fa-reply ">Thanks</i></button>
       <div>
        <hr>
      </hr>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 ">
       <img src="{% static 'images/ReviewImages/r6.jpg' %}" height="150px" width="200px" class="a pl-5">
    </div>
      <div class="col-md-9 bg-light">
        <h3 style="width:70%;float:left; height:50px">Mr.Peter</h3>
        <h6 style="width:30%;float:right; height:50px">
          
           <span class="fa fa-star " style="color: orange"></span>
           <span class="fa fa-star " style="color: orange"></span>
           <span class="fa fa-star " style="color: orange"></span>
           <span class="fa fa-star " style="color: orange"></span>
           <span class="fa fa-star " ></span>
        </h6>
           <p>Service and treatment is very good.</p>
           <button class="rounded-pill btn btn-success"><i class="fa fa-reply ">Thanks</i></button>
           <div>
            <hr>
          </hr>
          </div>
          </div>
    </div>

  <!-- <div class="row mx-auto my-4 ">
    <div class="col-md-12" style="text-align: center;">
      <button class="rounded-pill" >previous</button>
         <button class="rounded-pill">1</button>
         <button class="rounded-pill">2</button>
         <button class="rounded-pill">3</button>
      <button class="rounded-pill">next</button>
    </div>
     -->
  </div>
  </div>
</body>
{% endblock %}
</html>
