{% extends "dashboard_base.html" %}
{% load static %}
{% block dashboard %} 
<style>
    .bg-img{
    background:url("/static/images/cover1.jpg");background-size: 100% 100%;
}

</style>
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-md-12 bg-img py-5 px-0">
            <h1 style="text-align: center;color:white"><a href="{% url 'patient_dashboard' %}">Dashboard &gt;</a> <a href="{% url 'edit_profile' %}">Send Email</a></h1>
        </div>
        <div class="col-md-6 p-3  my-5 shadow shadow-lg mx-auto" style="background:khaki;">
            {% if status %}
                <div class="alert alert-{{cls}}">{{status}}</div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="" style="font-size: 20px;color:crimson" class="font-weight-bold">To:</label>
                    <input type="text" class="form-control" placeholder="To" name="to" required>
                </div>
                <div class="form-group">
                    <label for="" style="font-size: 20px;color:crimson" class="font-weight-bold">Subject:</label>
                    <input type="text" class="form-control" placeholder="Subject" name="sub" required>
                </div>
                <div class="form-group">
                    <label for="" style="font-size: 20px;color:crimson" class="font-weight-bold">Message:</label>
                    <textarea name="msz"  rows="5" placeholder="Enter your message" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send Email" class='btn btn-outline-primary rounded-pill' >
                </div>
                
            </form>
            
       </div>
            
    
</div>
</div>
{% endblock %}