{% extends "HeadFoot.html" %}
{% load static %}
{% block myblock %}
<style>
     th,td{
        width:30%;
    }
</style>
<div class="container-fluid" style="background: url('/static/images/drcover.jpg');background-size: 100% 100%;">
    <div class="row py-5 " style="background:rgba(0,0,0,0.2);">
        <div class="col-md-12  py-5 my-5 text-light text-center font-weight-bold text-uppercase">
            <h1>Treatment Details</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
<div class="row py-4">
    <div class="col-md-8 p-5">
        <div class="  text-center py-4">
            <img src="/media/{{treatment.treatment_image}}" alt="No Image" style="height:300px;width:80%">
        </div>
        <table class="table table-bordered" style="border:2px solid blue">
            <tbody>
                <tr>
                    <th style="font-size: 20px;color:darkslateblue" class="font-weight-bold">TREATMENT ID</th>
                    <td style="font-size: 18px;color:dodgerblue" class="font-weight-bold">{{treatment.id}}</td>
                </tr>
                <tr>
                 <th style="font-size: 20px;color:darkslateblue" class="font-weight-bold">TREATMENT NAME</th>
                 <td style="font-size: 18px;color:dodgerblue" class="font-weight-bold">{{treatment.treatment_name}}</td>
             </tr>
             <tr>
                 <th style="font-size: 20px;color:darkslateblue" class="font-weight-bold">ORIGINAL PRICEC</th>
                 <td style="font-size: 18px;color:dodgerblue" class="font-weight-bold"><del>&#8377;{{treatment.treatment_originalprice}}</del></td>
             </tr>
             <tr>
                 <th style="font-size: 20px;color:darkslateblue" class="font-weight-bold">ACTUAL PRICE</th>
                 <td style="font-size: 18px;color:dodgerblue" class="font-weight-bold">&#8377;{{treatment.treatment_actualprice}}
                      <script>
                         let t = "{{treatment.treatment_originalprice}}";
                         let s = "{{treatment.treatment_actualprice}}";
                         let dis = 100-((s/t)*100);
                         
                         document.write("<strong class='text-danger'>("+Math.round(dis,2)+"%)</strong>");
                     </script> 
                 </td>
             </tr>
             <tr>
                 <th style="font-size: 20px;color:darkslateblue" class="font-weight-bold">TREATMENT DESCRIPTION</th>
                 <td style="font-size: 18px;color:dodgerblue" class="font-weight-bold">{{treatment.details}}</td>
             </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4 style="text-align: center;color:midnightblue;font-size: 25px;" class="font-weight-bold">Doctor Details</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered" style="border:2px solid darkcyan;">
                    <tr>
                        <th style="font-size: 20px;color:darkcyan">First Name</th>
                        <td style="font-size: 18px;color:dimgray" class='font-weight-bold'>{{treatment.doctor.first_name}}</td>
                    </tr>
                    <tr>
                        <th style="font-size: 20px;color:darkcyan">Last Name</th>
                        <td style="font-size: 18px;color:dimgray" class='font-weight-bold'>{{treatment.doctor.last_name}}</td>
                    </tr>
                    <tr>
                        <th style="font-size: 20px;color:darkcyan">Email</th>
                        <td style="font-size: 18px;color:dimgray" class='font-weight-bold'>{{treatment.doctor.email}}</td>
                    </tr>
                    <tr>
                        <th style="font-size: 20px;color:darkcyan">Member Since:</th>
                        <td style="font-size: 18px;color:dimgray" class='font-weight-bold'>{{treatment.doctor.date_joined}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <h4 class="alert alert-secondary py-3 font-weight-bold" style="text-align: center;color:midnightblue">Category Details</h4>
        <table class="table table-bordered" style="border:2px solid green">
            <tr>
                <th style="font-size: 20px;color:darkolivegreen">CATEGORY ID</th>
                <td style="font-size: 18px;color:green;font-weight:10px;" class="font-weight-bold" >{{treatment.treatment_category.id}}</td>
            </tr>
            <tr>
                <th style="font-size: 20px;color:darkolivegreen">CATEGORY NAME</th>
                <td style="font-size: 18px;color:green;font-weight:10px;" class="font-weight-bold">{{treatment.treatment_category.Dep_name}}</td>
            </tr>
            <tr>
                <th style="font-size: 20px;color:darkolivegreen">CATEGORY IMAGE</th>
                <td style="font-size: 18px;color:green;font-weight:10px;" class="font-weight-bold">
                    <img src="/media/{{treatment.treatment_category.cover_pic}}" alt="" style="width:200px;height:150px;">
                </td>
            </tr>
            <tr>
                <th style="font-size: 20px;color:darkolivegreen">CATEGORY DESCRIPTION</th>
                <td style="font-size: 18px;color:green;font-weight:40px;" class="font-weight-bold">
                    {{treatment.treatment_category.description}}
                </td>
            </tr>
        </table>
    </div>
    
</div>


</div>
{% endblock %}