{% extends 'HeadFoot.html' %}
<!DOCTYPE html>
{% block myblock %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fonticon/css/all.min.css' %}">
    <style>
        .container-fluid{
            font-family: sans-serif;
            color: #3c3939;
            background-color: #f1f1f1;
            padding: 0px;
            margin: 0px;
        }
        .profile-card{
            width: 400px;
            background: #fff;
            box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
        }
        .image-container{
            position: relative;
        }
        .info{
            color: #4b4fe2;
            margin-right: 16px;
        }
        .main-container{
            padding: 20px;
            text-align: center;
        }
        .skills-bar{
            
            border-radius: 16px;
        }
        .progress-bar{
            padding: 0.lem 16px;
            border-radius: 16px;
            text-align: center;
            color: #fff;
            background-color: green;
        }
        .fonticon{
            text-align: center;
        }
        
        
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="profile-card">
        <div class="image-container" style="background-color: salmon;">
            <h1 style="text-align: center;">Eliana Smith</h1>
            <img src="{% static 'images/UserProfileImages/kaler1.png' %}" style="width: 100%; border-radius: 50%;">
            <div class="title">
                
            </div>
        </div>
        <div class="fonticon">
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram-square"></i></a>
        </div>
        <div class="main-container">
            <h2>Occupation</h2>
            <p>UI UX Design</p>
            <h2>Email ID</h2>
            <p>will.smith@info.com</p>
            <h2>phone</h2>
            <p>+123 456 789</p>
            <h2>Address</h2>
            <p>85 Bay Drive,New port Richey,FL34653</p>
      
            <hr>
            <p>General Report</p>
            <p>Boold pressure</p>
            <div class="skill-bar">
                <div class="progress-bar" style= "background-color: green;">80%</div>
            </div>
            <p>Heart</p>
            <div class="skill-bar">
                <div class="progress-bar" style="background-color: blue;">65%</div>
            </div>
             <p>Haemoglobin</p>
            <div class="skill-bar">
                <div class="progress-bar" style="background-color: orange;">70%</div>
            </div>
            <p>Sugar</p>
            <div class="skill-bar">
                <div class="progress-bar" style="background-color: red;">100%</div>
            </div>

             </div>
    </div>
</div>
<div class="row">
<div class="registration ">
    <form id="registration" method="post" action="" >
      
        <div class="col-md-12 bg-img py-5 bg-light text-center">
            <h1>Dashboard &gt; Edit Profile</h1>
        

                {% if data.profile_pic %}
                <img src="/media/{{data.profile_pic}}" style="height:50px;width:50px;border-radius:50%">
                {% else %}
                <img src="{% static 'images/user.png' %}" style="height:150px;width:150px;border-radius:50%">
                {% endif %}
            
        
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if status %}
                    <div class="alert alert-primary">{{status}}</div>
                {% endif %}
            </form>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" name="first">
                    </div>
                    <div class="col-md-6">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" name="last">
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="form-group">
                <p id="result"></p>
            </div>
            </div>
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control" placeholder="Enter Username" name="uname" id="username" onkeyup="checkuser()">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" name="password">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" placeholder="Enter Email Address" name="email">
            </div>
            <div class="form-group">
                <label for="">Contact Number</label>
                <input type="number" class="form-control" placeholder="Enter Mobile Number" name="contact">
            </div>
            <div class="form-group">
                <label for="">User Type</label>
                <select name="utype" class="form-control">
                    <option value="cust">I am Customer</option>
                    <option value="sell">I am Seller</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-success" id="submitbtn">
            </div>
        </form>
    </div>
            </div>

        </div>  
        </form>
        </div>
        </div>
        </div>
        </div>
          
               

    
</body>
</html>
{% endblock %}